/* h1 {
  color: #00f7ff;
} */

/* -----START-SECTION-PRESENTATION------- */
html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  padding: 0;
  user-select: none;
  font-family: 'pixelmix';
}

@font-face {
  font-family: pixelmix;
  src: url(pixelmix.ttf);
}

.WebSite {
  min-height: calc(100vh - 50px);
}

/* <!-- START-principal-site --> */
.Principal-site {
  background: #6b9dbf;
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'pixelmix';
  font-size: 3em;
  text-align: center;
  align-items: center;
}

.Principal-site-hero {
  background: #54718e;
  height: 26.6%;
  width: 100vw;
  color: #9ebb4e;
  display: flex;
}

.Principal-site-hero h1 {
  margin: auto;
}

.Input-toPlay {
  background: #54848e;
  height: 26.6%;
  width: 100vw;
}

.Input-toPlay:hover {
  background: white;
}

.Input-toPlay:active {
  background: black;
}

.Input-toPlay a {
  text-decoration: none;
  color: #262525;
}

.Input-toPlay a :hover {
  color: white;
}

.Nothing {
  background: #548e7a;
  height: 26.6%;
  width: 100vw;
}
/* -----END-SECTION-PRESENTATION------- */

.Game-container {
  background-color: #12496efb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  z-index: 0;
}
.Text-container {
  display: none;
  position: absolute;
  top: 0;
  font-family: pixelmix;
  font-size: 1.2em;
  width: auto;
  text-align: center;
  padding: 0 10px;
}
.Box-hot {
  background: red;
  width: 0px;
  height: 0px;
  position: absolute;
}
.Very-hot {
  color: #ff0000;
  animation-name: animation-very-hot;
  animation-duration: 0.1s;
  margin: 28px 0;
  animation-iteration-count: infinite;
}
.Hot {
  color: #f8760d;
  animation-name: animation-hot;
  animation-duration: 0.2s;
  margin: 28px 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.Warm {
  color: #fac209;
  animation-name: animation-warm;
  animation-duration: 0.4s;
  margin: 28px 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.Cold {
  color: #00c3ff;
  animation-name: animation-cold;
  animation-duration: 0.6s;
  margin: 28px 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.Very-cold {
  color: #4973ff;
  animation-name: animation-very-cold;
  animation-duration: 0.8s;
  margin: 28px 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* #Counter { */
/* } */
.Counter-container {
  position: absolute;
  left: 5%;
  top: 0%;
  color: #03fa93;
  font-size: 1.2em;
}

@keyframes animation-very-hot {
  0% {
    margin: 28px 0;
  }
  25% {
    margin: 26px 0;
  }
  50% {
    margin: 28px 0;
  }
  75% {
    margin: 30px 0;
  }
  100% {
    margin: 28px 0;
    color: #ff8800;
  }
}

@keyframes animation-hot {
  0% {
    margin: 28px 0;
  }
  25% {
    margin: 26px 0;
  }
  50% {
    margin: 28px 0;
  }
  75% {
    margin: 30px 0;
  }
  100% {
    margin: 28px 0;
    color: #ffbb00;
  }
}

@keyframes animation-warm {
  0% {
    margin: 28px 0;
  }
  25% {
    margin: 24px 0;
  }
  50% {
    margin: 28px 0;
  }
  75% {
    margin: 32px 0;
  }
  100% {
    margin: 28px 0;
    color: #03fa93;
  }
}

@keyframes animation-cold {
  0% {
    margin: 28% 0;
  }
  25% {
    margin: 24px 0;
  }
  50% {
    margin: 28px 0;
  }
  75% {
    margin: 32px 0;
  }
  100% {
    margin: 28px 0;
    color: #008cff;
  }
}

@keyframes animation-very-cold {
  0% {
    margin: 28px 0;
  }
  25% {
    margin: 24px 0;
  }
  50% {
    margin: 28px 0;
  }
  75% {
    margin: 32px 0;
  }
  100% {
    margin: 28px 0;
    color: #008cff;
  }
}
